<!DOCTYPE html>
<html>

<head>

<title>Contact</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='style.css') }}">

</head>

<body>
    <nav>
    <div class="logo">
        PHISHGUARD AI
    </div>

    <div class="menu">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/about">About</a>
        <a href="/feedback">Feedback</a>
        <a href="/contact">Contact</a>
    </div>
</nav>


<div class="container">

<h1>Contact Us</h1>

<p>Email:
project@gmail.com</p>

<p>Phone:
9876543210</p>

</div>
</body>

</html>