<!DOCTYPE html>
<html>
<head>
    <title>Feedback Submitted</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="success-container">

        <div class="success-icon">
            ✅
        </div>

        <h1>Feedback Submitted Successfully</h1>

        <p>
            Thank you for your feedback.
            Your response has been recorded successfully.
        </p>

        <a href="/" class="home-btn">
            ← Back to Home
        </a>

    </div>

</body>
</html>